.about-outer-div {
  max-width: 800px;
  height: 800px;
  background-color: #111111;
  border-radius: 15px;
  padding: 2rem 3rem;
  margin: 0 auto;
}

.about-me h2 {
  color: white;
  font-size: 2rem;
}

.mycontent p {
  margin-top: 1.875rem;
  color: #a6a6a6;
  font-size: 1rem;
  white-space: 0.3125rem;
  letter-spacing: 0.125rem;
}

.what-i-do-heading {
  display: flex;
  margin-top: 4.6875rem;
  margin-bottom: 2.1875rem;
}

.what-i-do {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.app-developer-card,
.web-developer-card {
  background-color: #111111;
  border: 1px solid #a6a6a6;
  border-radius: 8px;
  color: #a6a6a6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  flex: 1 1 40%;
  max-width: 45%;
}

.app-developer-card img,
.web-developer-card img {
  width: 3.125rem;
  height: auto;
  object-fit: contain;
}

.app-content h2,
.web-content h2 {
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}

@media (max-width: 800px) {
  .about-outer-div {
    padding: 1rem;
  }

  .about-me h2,
  .what-i-do-heading h1 {
    font-size: 1.5rem;
  }

  .mycontent p,
  .app-content h2,
  .web-content h2 {
    font-size: 0.9rem;
  }

  .app-developer-card,
  .web-developer-card {
    max-width: 100%;
  }
}
