.nav-container {
  /* position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999; */
}

nav {
  max-width: 25rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111111;
  border-radius: 0.8rem;
  padding: 1rem;
}

.nav-bar {
  height: 80%;
  width: 20%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.nav-bar a img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
}

.nav-bar a {
  font-size: 1em;
  text-decoration: none;
  color: #a6a6a6;
  transition: color 0.3s;
  text-align: center;
}

.nav-bar:hover {
  background-color: #e4306d;
  border-radius: 0.5rem;
}

.nav-bar:hover a {
  color: white;
}

@media screen and (max-width: 800px) {
  .nav-container {
    position: static;
  }

  nav {
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
  }

  .nav-bar {
    width: 30%;
    height: 5rem;
    margin: 0.5rem;
    background-color: #212425;
    border-radius: 0.5rem;
  }

  .nav-bar a img {
    height: 2rem;
  }

  .nav-bar a {
    font-size: 0.8rem;
  }
}
